<?xml version="1.0"?>

<ruleset name="Spring custom rules"
         xmlns="http://pmd.sourceforge.net/ruleset/2.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://pmd.sourceforge.net/ruleset/2.0.0 http://pmd.sourceforge.net/ruleset_2_0_0.xsd">

    <description>Rules for Spring Framework</description>

    <rule name="ClassNameShouldMatchAnnotation"
          language="java"
          since="5.6"
          externalInfoUrl="${pmd.website.baseurl}/rules/java/spring.html#ClassNameShouldMatchAnnotation"
          class="net.sourceforge.pmd.lang.java.rule.spring.ClassNameShouldMatchAnnotationRule">
        <description>
            Class name should contain annotation name
        </description>
        <priority>3</priority>

        <example>
            <![CDATA[
@Service
public class ExampleService {}
   ]]>
        </example>

    </rule>

    <rule name="VariableNameShouldMatchAnnotatedClass"
          language="java"
          since="5.6"
          externalInfoUrl="${pmd.website.baseurl}/rules/java/spring.html#VariableNameShouldMatchAnnotatedClass"
          message="Variable name should match annotated class"
          class="net.sourceforge.pmd.lang.java.rule.spring.VariableNameShouldMatchAnnotatedClassRule">
        <description>
            Variable name should match annotated class
        </description>
        <priority>3</priority>

        <example>
            <![CDATA[
@Service
public class ExampleService {
private TicketService ticketService;
}
   ]]>
        </example>

    </rule>

    <rule name="EntityShouldContainNoArgsConstructor"
          language="java"
          since="5.6"
          externalInfoUrl="${pmd.website.baseurl}/rules/java/spring.html#EntityShouldContainNoArgsConstructor"
          message="Classes annotated with @Entity should always contain a no-args constructor"
          class="net.sourceforge.pmd.lang.java.rule.spring.EntityShouldContainNoArgsConstructorRule">
        <description>
            Classes annotated with @Entity should always contain a no-args constructor
        </description>
        <priority>2</priority>

        <example>
            <![CDATA[
@Entity
public class Task
{
public Task ()
    {
    }
  }
   ]]>
        </example>

    </rule>

    <rule name="ClassShouldContainOnlyOneComponentAnnotation"
          language="java"
          since="5.6"
          externalInfoUrl="${pmd.website.baseurl}/rules/java/spring.html#ClassShouldContainOnlyOneComponentAnnotation"
          message="Classes annotated with @Entity should always contain a no-args constructor"
          class="net.sourceforge.pmd.lang.java.rule.spring.ClassShouldContainOnlyOneComponentAnnotationRule">
        <description>
            Class should only contain one component annotation
        </description>
        <priority>1</priority>

        <example>
            <![CDATA[
@Service
public class TaskService
{
}
   ]]>
        </example>

    </rule>

    <rule name="FieldShouldNotHaveAutowired"
          language="java"
          since="5.6"
          externalInfoUrl="${pmd.website.baseurl}/rules/java/spring.html#FieldShouldNotHaveAutowired"
          message="Fields should not be annotated with @Autowired or @Injected.
          They should be moved in the constructor instead."
          class="net.sourceforge.pmd.lang.java.rule.spring.FieldShouldNotHaveAutowiredRule">
        <description>
            Fields should not be annotated with @Autowired or @Injected.
            They should be moved in the constructor instead.
        </description>
        <priority>2</priority>

        <example>
            <![CDATA[
@Service
public class TaskService
{
private TaskRepository taskRepository;

@Autowired
TaskService(TaskRepository taskRepository) {
this.taskRepository = taskRepository;
}

}
   ]]>
        </example>

    </rule>

    <rule name="ComponentFieldsShouldBeFinal"
          language="java"
          since="5.6"
          externalInfoUrl="${pmd.website.baseurl}/rules/java/spring.html#ComponentFieldsShouldBeFinal"
          message="Component fields should be final"
          class="net.sourceforge.pmd.lang.java.rule.spring.ComponentFieldsShouldBeFinalRule">
        <description>
            Component fields should be final
        </description>
        <priority>2</priority>

        <example>
            <![CDATA[
@Service
public class TaskService
{
private final TaskRepository taskRepository;

@Autowired
TaskService(TaskRepository taskRepository) {
this.taskRepository = taskRepository;
}
}
   ]]>
        </example>

    </rule>

    <rule name="ResponseEntityMethodShouldBeAnnotated"
          language="java"
          since="5.6"
          externalInfoUrl="${pmd.website.baseurl}/rules/java/spring.html#ResponseEntityMethodShouldBeAnnotated"
          message="Methods returning ResponseEntity should always be annotated with @RequestMapping"
          class="net.sourceforge.pmd.lang.java.rule.spring.ResponseEntityMethodShouldBeAnnotatedRule">
        <description>
            Methods returning ResponseEntity should always be annotated with @RequestMapping
        </description>
        <priority>1</priority>

        <example>
            <![CDATA[
@Controller
public class TaskController
{
@RequestMapping ( value = "api/task/newtask", method = RequestMethod.POST )
    public ResponseEntity submitTask ()
    {
        return new ResponseEntity<>( HttpStatus.CREATED );
    }
}
   ]]>
        </example>

    </rule>

</ruleset>