<?xml version="1.0"?>

<ruleset name="Spring custom rules"
         xmlns="http://pmd.sourceforge.net/ruleset/2.0.0"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://pmd.sourceforge.net/ruleset/2.0.0 http://pmd.sourceforge.net/ruleset_2_0_0.xsd">

    <description>Rules for Spring Framework</description>

    <rule name="ClassNameShouldMatchAnnotation"
          message="Class name should contain annotation name"
          class="net.sourceforge.pmd.lang.java.rule.spring.ClassNameShouldMatchAnnotation">
        <description>
            Class name should contain annotation name
        </description>
        <priority>3</priority>

        <example>
            <![CDATA[
@Service
public class ExampleService {}
   ]]>
        </example>

    </rule>

    <rule name="VariableNameShouldMatchAnnotatedClass"
          message="Variable name should match annotated class"
          class="net.sourceforge.pmd.lang.java.rule.spring.VariableNameShouldMatchAnnotatedClass">
        <description>
            Variable name should match annotated class
        </description>
        <priority>3</priority>

        <example>
            <![CDATA[
@Service
public class ExampleService {
private TicketService ticketService;
}
   ]]>
        </example>

    </rule>

    <rule name="EntityShouldContainNoArgsConstructor"
          message="Classes annotated with @Entity should always contain a no-args constructor"
          class="net.sourceforge.pmd.lang.java.rule.spring.EntityShouldContainNoArgsConstructor">
        <description>
            Classes annotated with @Entity should always contain a no-args constructor
        </description>
        <priority>2</priority>

        <example>
            <![CDATA[
@Entity
public class Task
{
public Task ()
    {
    }
  }
   ]]>
        </example>

    </rule>

    <rule name="ClassShouldContainOnlyOneComponentAnnotation"
          message="Classes annotated with @Entity should always contain a no-args constructor"
          class="net.sourceforge.pmd.lang.java.rule.spring.ClassShouldContainOnlyOneComponentAnnotation">
        <description>
            Class should only contain one component annotation
        </description>
        <priority>1</priority>

        <example>
            <![CDATA[
@Service
public class TaskService
{
}
   ]]>
        </example>

    </rule>

    <rule name="FieldShouldNotHaveAutowired"
          message="Fields should not be annotated with @Autowired or @Injected.
          They should be moved in the constructor instead."
          class="net.sourceforge.pmd.lang.java.rule.spring.FieldShouldNotHaveAutowired">
        <description>
            Fields should not be annotated with @Autowired or @Injected.
            They should be moved in the constructor instead.
        </description>
        <priority>2</priority>

        <example>
            <![CDATA[
@Service
public class TaskService
{
private TaskRepository taskRepository;

@Autowired
TaskService(TaskRepository taskRepository) {
this.taskRepository = taskRepository;
}

}
   ]]>
        </example>

    </rule>

    <rule name="ComponentFieldsShouldBeFinal"
          message="Component fields should be final"
          class="net.sourceforge.pmd.lang.java.rule.spring.ComponentFieldsShouldBeFinal">
        <description>
            Component fields should be final
        </description>
        <priority>2</priority>

        <example>
            <![CDATA[
@Service
public class TaskService
{
private final TaskRepository taskRepository;

@Autowired
TaskService(TaskRepository taskRepository) {
this.taskRepository = taskRepository;
}
}
   ]]>
        </example>

    </rule>

</ruleset>